
.logo {
    width: 10%;
    }

div{
    white-space: normal;
}
.spacer{
    margin: 2px;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
    grid-gap: 1px;
    gap: 1px;
    align-items: start;
    padding: 10px;
  }
  
.card {
    display: grid;
    justify-items: center;
    padding: 1em 10px;
    background: #fff;
    padding-right: 100px;
  }

section{
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}